# .env của meeting-service
MEETING_DATABASE_URL=postgresql+asyncpg://meeting_user:meeting_pass@db_meeting:5432/meeting_db

SUPABASE_URL=https://rririmbbzzrodpeehfcx.supabase.co
SUPABASE_SERVICE_KEY=
SUPABASE_BUCKET=meeting-files

JWT_SECRET=
JWT_ALGORITHM=HS256